body{
    background-color: #212121;
    color: #fdfaf0;
    overflow: hidden;
    width: 100%;
}
.wrap-mode{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}
.change_mode{
    width: 50px;
}
.wrap-main{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}
.left{
    width: 40px;
    opacity: 0.8;
}
.left:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 200ms linear;
    cursor: pointer;
}
.img{
    width: 200px;
    border-radius: 100%;
}
.right{
    width: 40px;
    opacity: 0.8;
}
.right:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 200ms linear;
    cursor: pointer;
}