html{
    background-color: #fdfaf0;
    color: #212121;
}
body{
    overflow: hidden;
    height: 100vh;
}
.dark{    
    background-color: #212121;
    color: #fdfaf0;
}
.wrap-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    gap: 2em;
}
.left{
    width: 40px;
    opacity: 0.8;
}
.left:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 200ms linear;
    cursor: pointer;
}
.right{
    width: 40px;
    opacity: 0.8;
}
.right:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 200ms linear;
    cursor: pointer;
}
.wrap_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    gap: 2em;
}