body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}


h1,h2{
    color: #fdfaf0;
    font-size: 2.5rem;
    text-shadow: 0px 3px  rgba(0, 0, 0, 0.24);
}

.group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;   
    gap: 4rem; 
}

.arrow-left{
    width: 30px;
    height: auto;
    opacity: 0.8;
}

.arrow-left:hover{
    opacity: 1;
    transition: all 200ms linear;
    text-decoration: solid;
    transform: scale(1.5);
    cursor: pointer;
}

.arrow-right{
    width: 30px;
    height: auto;
    opacity: 0.8;
}

.arrow-right:hover{
    opacity: 1;
    transition: all 200ms linear;
    text-decoration: solid;
    transform: scale(1.5);
    cursor: pointer;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;    
}

.card{
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrap_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.card-img-top{
    align-items: center;
    padding: 1rem;
    width: 18rem;
    height: auto;
}